<div class="my-3">
  <form [formGroup]="reviewForm">
    <div class="col-sm-6">
      <label for="form1" class="form-label">Заголовок</label>
      <input type="text" class="form-control" formControlName="title" id="form1" placeholder="Заголовок">
    </div>
    <div class="col-sm-6">
      <label for="form2" class="form-label">Текст рецензии</label>
      <textarea class="form-control" formControlName="text" id="form2" rows="3"></textarea>
    </div>
    <div class="but" id="controls">
      <button class="btn btn-sm btn-outline-secondary me-3 fs-6" [disabled]="reviewForm.invalid" (click)="submit()">
        Опубликовать
      </button>
    </div>
  </form>
</div>
