<div class="login-page position-absolute top-50 start-50 translate-middle">
  <form [formGroup]="loginForm">
    <div class="1">
      <mat-form-field appearance="outline">
        <mat-label>Nickname</mat-label>
        <input matInput formControlName="nickname">
      </mat-form-field>
    </div>
    <div class="2">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
    <div class="3" id="controls">
      <button class="btn btn-sm btn-outline-secondary me-3 fs-6" [disabled]="loginForm.invalid" (click)="submit()">Login</button>
      <a routerLink="/registration">Registration</a>
    </div>
  </form>
</div>
