<div class="container card" style="margin-top: 10px;">
  <div class="card-body">
    <div class="card-title text-center fw-bold" style="font-size :20px">{{movie.title}}</div>
    <div class="info-part">
      <div class="block-main-info">
        <div class="genres">
          <button mat-stroked-button color="accent" *ngFor="let genre of movie.genres"
                  routerLink="/movies/">{{genre.title}}</button>
        </div>
        <div class="tag">
          <p class="name-tag">Год выпуска: </p>
          <p class="value-tag">{{movie.date}}</p>
        </div>
        <div class="tag">
          <p class="name-tag">Страна:</p>
          <p class="value-tag">{{movie.country}}</p>
        </div>
        <div class="tag">
          <p class="name-tag">Длительность: </p>
          <p class="value-tag">{{movie.duration}}</p>
        </div>
        <p>{{movie.textLarge}}</p>
        <iframe width="400" height="250" [src]='url' title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>

      <div class="block-image">
        <img class="img-fluid" [src]="formatImage(movie.image)" alt="post image" style="border-radius: 10px">
      </div>

      <div class="block-second">
        <div class="rating">
          <div class="general-rating">
            <div class = "general-rating-text">Общая оценка:</div>
            <div class="general-rating-bottom">
              <button mat-flat-button color="accent">
                <mat-icon>star_border</mat-icon>
                <span>{{movie.averageRate}}/5</span>
              </button>
            </div>
          </div>
          <div class="user-rating">
            <div class = "user-rating-text">Ваша оценка:</div>
            <div class = "user-rating-bottom-false">
              <button class = "but-rating-false" mat-flat-button [matMenuTriggerFor]="setRating" *ngIf="!isRating">
                <mat-icon>star_border</mat-icon>
                <span>Оценить</span>
              </button>
              <button mat-flat-button color="accent" [matMenuTriggerFor]="setRating" *ngIf="isRating">
                <mat-icon>star_border</mat-icon>
                <span>{{rate.stars}}/5</span>
              </button>
              <mat-menu #setRating="matMenu" xPosition="before">
                <div (click)="$event.stopPropagation();" style="display: flex; flex-direction: column;align-items: center">
                  <div class = "setRateStars">
                    <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index"
                        style="display: inline-block">
                      <li (click)="countStar(star, rate.stars)" id="{{'starId'+i}}" [ngClass]="{'selected': (star <= rate.stars)}"
                          (mouseover)="addClass(star)" (mouseout)="removeClass(star)">
                        ★
                      </li>
                    </ul>
                  </div>
                  <button mat-fab extended (click)="editRating()" *ngIf="isRating">
                    <mat-icon>mode_edit</mat-icon>
                    Удалить оценку
                  </button>
                  <br>
                  <div class = "setReview">
                    <span style="margin-left: 5px">Поделитесь первым впечатлением:</span>
                    <form [formGroup]="miniReviewForm">
                      <textarea class="form-control" formControlName="text"></textarea>
                      <button mat-button style="margin-left:73px" (click)="submit()">Опубликовать</button>
                    </form>
                  </div>
                </div>
              </mat-menu>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "users-active-block">
      <div class = "users-reviews-block">
        <h2>Рецензии зрителей: </h2>
        <app-reviews-list></app-reviews-list>
        <div class = "button-more-review">
          <span class="btn btn-sm btn-outline-secondary fs-3 my-3" routerLink="/movie/{{movie.idMovie}}/reviews-list">Больше рецензий</span>
        </div>
      </div>
      <div class = "users-ratings-block">
        <h2>Оценки зрителей:</h2>
        <app-rating></app-rating>
      </div>
    </div>
  </div>
</div>
