<div class = "reviews-page-profile">
  <mat-card class="review-card" *ngFor="let review of reviews" style="margin-top: 10px">
    <mat-card-header>
      <mat-card-subtitle>{{review.movie_name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{review.text}}</p>
    </mat-card-content>
    <mat-card-actions align="start">
      <button style="width: 20%"  mat-button (click) = "deleteReview(review.id)">
        <mat-icon>delete</mat-icon>
        Удалить рецензию
      </button>
    </mat-card-actions>
  </mat-card>
</div>
